html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    /* background-color: #EEF0F4; */
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 20px auto;
}

img {
    width: 120px;
    height: 120px auto;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 9px;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 9px;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
button:hover{
    background-color: #432000;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;

}
ul li{
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 9px;
    text-align: center;
    font-size: 15px;
    flex-grow: 1;
    font-family: 'Rubik', sans-serif;
    color: #432000;

    
}
ul li:hover{
    background-color: #f2889b;
    cursor: pointer;
}